/* root */
:root {
    --primary-color: #ffffff;
    --secondary-color: #f5f7fa;
    --navbar-button-color: #dc3226;
    --danger-color: #a70e0e;
    --card-inner-para-color: #bababb;
    --left-background:#fafafa;
    --facebook:#3b5998;
    --tweeter:#06a8e8;
    --linkedin:#0A66C2;
    --youtube:#FF0000;
    --dribble:#444444;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --searchbar-bg-color: #f1f1f1;
    --searchbar-border-bg: #eee4e4;
    --banner-bg-color:#D4e0e9;
    --text-color-1:#313131;
    --text-color-2:#717171;
}

input:focus{
    outline: none;
}

/* utilty-classes */
.font-1 {
    font-size: 1px;
}

.font-2 {
    font-size: 2px;
}

.font-3 {
    font-size: 3px;
}

.font-4 {
    font-size: 4px;
}

.font-5 {
    font-size: 5px;
}

.font-6 {
    font-size: 6px;
}

.font-7 {
    font-size: 7px;
}

.font-8 {
    font-size: 8px;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-20 {
    font-size: 20px;
}

.font-21 {
    font-size: 21px;
}

.font-22 {
    font-size: 22px;
}

.font-23 {
    font-size: 23px;
}

.font-24 {
    font-size: 24px;
}

.font-25 {
    font-size: 25px;
}

.font-26 {
    font-size: 26px;
}

.font-27 {
    font-size: 27px;
}

.font-28 {
    font-size: 28px;
}

.font-29 {
    font-size: 29px;
}

.font-30 {
    font-size: 30px;
}

.font-31 {
    font-size: 31px;
}

.font-32 {
    font-size: 32px;
}

.font-33 {
    font-size: 33px;
}

.font-34 {
    font-size: 34px;
}

.font-35 {
    font-size: 35px;
}

.font-36 {
    font-size: 36px;
}

.font-37 {
    font-size: 37px;
}

.font-38 {
    font-size: 38px;
}

.font-39 {
    font-size: 39px;
}

.font-40 {
    font-size: 40px;
}

.font-41 {
    font-size: 41px;
}

.font-42 {
    font-size: 42px;
}

.font-43 {
    font-size: 43px;
}

.font-44 {
    font-size: 44px;
}

.font-45 {
    font-size: 45px;
}

.font-46 {
    font-size: 46px;
}

.font-47 {
    font-size: 47px;
}

.font-48 {
    font-size: 48px;
}

.font-49 {
    font-size: 49px;
}

.font-50 {
    font-size: 50px;
}

.font-51 {
    font-size: 51px;
}

.font-52 {
    font: size 52px;
}

.font-53 {
    font-size: 53px;
}

.font-54 {
    font-size: 54px;
}

.font-55 {
    font-size: 55px;
}

.font-56 {
    font-size: 56px;
}

.font-57 {
    font-size: 57px;
}

.font-58 {
    font-size: 58px;
}

.font-59 {
    font-size: 59px;
}

.font-60 {
    font-size: 60px;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder
}

.lighter {
    font-weight: lighter
}

.font-xxlarge {
    font-size: xx-large;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.sticky {
    position: fixed;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
    align-items: center;
}
.col-gap-23{
    column-gap: 24px;
}

.row-gap-23{
    row-gap: 23px;
}
.col-gap-48{
    column-gap: 48px;
}

.wrap{
    flex-wrap: wrap;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
/* css reset */
* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
}
/* navbar */
.logo-container img {
    height: 60px;
    width: auto;
    padding-left: 27px;
}



.city {
    /* border: 1px solid var(--primary-color); */
    border: 0;
}

.searchbar {
    height: 40px;
    width: 622px;
    background-color: var(--searchbar-bg-color);
    border: 0;
    border-radius: 50px;
    padding: 20px;
}
.searchbar:hover{
    color: var(--danger);
    border: 1px solid var(--danger);
}

.fa-cart-shopping:before,
.fa-shopping-cart:before {
    content: "\f07a";
}

.navbar-cart-container{
    column-gap: 12px;
}

.navbar-button-container {
    padding-right: 46px;
    margin-right: 46px;
}

.navbar-button-container button {
    height: 44px;
    width: 150px;
    border: 1px solid var(--navbar-button-color);
    background-color: var(--navbar-button-color);
    border-radius: 50px;
    color: var(--light);
}

.navbar-button-container button:hover {
    color: var(--navbar-button-color);
    border: 1px solid var(--navbar-button-color);
    background-color: var(--primary-color);
}
.right-container{
    background-color: var(--left-background);
    flex: 1;
}
.upper-heading h2{
    color: var(--text-color-1);
}
.upper-para a{
    text-decoration: none;
    color: var(--cyan);
}
.right-upper-section{
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px #fafafa;
    margin: 12px 0px;
    line-height: 40px;
}
.upper-section-heading h2{
    padding-left: 12px;
    font-size: 14px;
    color: var(--text-color-1);
}
.upper-section-para a{
    padding-left: 12px;
    text-decoration: none;
    color: var(--cyan);
}
.right-boxes-container{
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px #fafafa;
    margin: 12px 0px;
    height: 40%;
    flex-direction: column;
}

.right-top-boxes{
    border: 1px solid var(--text-color-2);
    width: 40%;
    height: 80px;
    flex-direction: column;
}
.right-top-boxes-heading{
    color: var(--text-color-1);
}
.right-top-boxes-para{
    color: var(--text-color-2);
    font-size: 11px;
}

.right-bottom-box-paras{
    column-gap: 12px;
    color: var(--text-color-2);
    font-size: 11px;
    border: 1px solid var(--text-color-2);
    height: 30px;
    width: 80%;
}
.right-bottom-container{
    background-color: var(--light);
}